.footer-icons {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 165px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }

  &__title {
    margin-bottom: 20px;

    color: $color-text-light;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  &__list {
    display: flex;
    gap: 10px;

    @media screen and (max-width: 1199px) {
      justify-content: center;
    }
  }

  &__item {
    height: 44px;
    width: 44px;
  }

  &__link {
    display: block;

    height: 100%;
    width: 100%;
    padding: 12px;

    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover,
  &__link:focus {
    background-color: $color-accent;
    outline: 0;
  }

  &__icon {
    fill: $color-text-light;
  }
}
