.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  padding: 40px;

  transform: translate(-50%, -50%);
  background-color: $color-background-primery;

  @media screen and (max-width: 479px) {
    max-width: 90%;
  }

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 12px;

    color: $color-text-title;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
  }

  &__button-close {
    margin-right: 8px;
    margin-top: 8px;
  }

  &__checkbox {
    margin-bottom: 30px;
  }
}
