$color-background-primery: #fff;
$color-background-dark: #2f303a;
$color-background-secodary: #f5f4fa;
$color-accent: #2196f3;
$color-accent-hover: #188ce8;
$color-text-primary: #757575;
$color-text-light: #fff;
$color-text-black: #000;
$color-text-title: #212121;
$color-link-light: rgba(255, 255, 255, 0.6);
$color-header-border: #ececec;
$color-example-card-border: #eeeeee;
$color-hero-bg: #c4c4c4;
$color-company: #afb1b8;
$font-direct: "Roboto";
$font-logo: "Raleway";
